# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem

# Turbo
.turbo

# Local Secrets & Data (IMPORTANT)
# This prevents your API key from being uploaded to GitHub.
# The wildcard (*) ensures that .env, .env.local, .env.development etc. are all ignored.
/.env*

# This prevents the local JSON database from being uploaded.
/data/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
